/* ----- Contact page stylesheet ----- */

.chip-grid {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .chip-img {
    margin-top: 50px;
    max-width: 100%;
  }
  
  .contact-copy {
    text-align: left;
    margin: 50px;
  }
  
  .email-address {
    text-align: center;
    border: 7px outset powderblue;
    padding: 10px;
  }