/* ----- Timeline page stylesheet ----- */
/* Adapted from w3schools: https://www.w3schools.com/howto/howto_css_timeline.asp */

* {
    box-sizing: border-box;
}

/* Button for essay */
.essay-button {
    padding: 10px;
    background-color: white;
    border: 7px outset powderblue;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
.essay-button:hover {
    background-color: powderblue;
    cursor: pointer;
}
.essay:hover {
    background-color: powderblue;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: auto;
    padding: 20px;
    width: 70%;
}

/* The Close Button */
.close {
    display: inline;
    color: rgb(200, 200, 200);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pdf {
    width: 80%;
    height: 700px;
}

/* The Modal (background) */
.t-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 115px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.t-modal-content {
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
    padding: 40px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
}

/*------- Timeline --------*/

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #708E92;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.t-container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}  

/* The circles on the timeline */
.t-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 63px;
    background-color: rgb(200, 200, 200);
    border: 4px solid powderblue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;   
}

.t-left {
    left: 0;
}
.t-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.t-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid powderblue;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent powderblue;
}

/* Add arrows to the right container (pointing left) */
.t-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid powderblue;
    border-width: 10px 10px 10px 0;
    border-color: transparent powderblue transparent transparent;
}

/* Fix the circle for containers on the right side */
.t-right::after {
    left: -16px;
}

/* Fix the circle for containers on the left side */
.t-left::after {
    left: 403px;
}

/* The actual content */
.t-content {
    padding: 10px 50px;
    border: 7px outset powderblue;
    position: relative;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    background-color: white;
}

.t-button:hover {
    transform: scale(1.025);
    background-color: powderblue;
    cursor: pointer;
}

/* 3 equal columns that float next to each other */
.col {
    float: left;
    width: 33.33%;
}
  
.contact-author {
    padding: 10px;
    background-color: white;
    border: 7px outset powderblue;
    box-sizing: content-box;
    text-decoration: none;
    color: black;
}
.contact-author:hover {
    background-color: powderblue;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media  screen and (max-width: 850px) {
    /* Place the timeline to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .t-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .t-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent powderblue transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .t-left::after, .t-right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .t-right {
        left: 0%;
    }
  }